* {
    margin: 0;
    padding: 0;
    font-family: serif;
    /* box-sizing: border-box; */
}
.heder {
    width: 1100px;
    min-height: 357px;
    background: #ffffff;
    margin: 40px 0 50px 0;
    padding: 10px;
}

.title-Card-top {
    box-sizing: border-box;
    height: 52px;
    border-bottom: 2px solid #f0f0f0;
}
.title-Card-top h1 {
    width: 223.12px;
    height: 28px;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 20px;
    display: flex;
    align-items: center;
    letter-spacing: 0.5px;
    color: #000000;
}

.cards {
    display: flex;
    width: 550px;
    min-height: 300px;
}

.img_card {
    width: 260px;
    height: 321.36px;
}

.img_width {
    width: 260px;
    height: 320px;
}
.title-cards {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    width: 290px;
    min-height: 300px;
    padding: 10px;
    margin: 7px 0;
}

.title-cards h1 {
    width: 293.31px;
    height: 23px;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 25px;
    display: flex;
    align-items: center;
    letter-spacing: 0.5px;
    text-transform: capitalize;
    color: #000000;
}

.title-cards .img-Starts {
    width: 40%;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: space-around;
    margin: 10px 0;
}
.title-cards .prise-title {
    width: 30%;
    display: flex;
    align-items: center;
    align-content: center;
    margin: 10px 0;
    gap: 15px;
}

.title-cards .prise-title > b {
    width: 62px;
    height: 24px;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    display: flex;
    align-items: center;
    letter-spacing: 1px;
    color: #000000;
    order: 0;
    flex-grow: 0;
}

.title-cards .prise-title > del {
    width: 41.68px;
    height: 19px;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 24px;
    display: flex;
    align-items: center;
    letter-spacing: 1px;
    color: #949292;
}

.title-cards > p {
    width: 263.78px;
    height: 43px;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 24px;
    margin: 10px 0;
    display: flex;
    align-items: center;
    letter-spacing: 0.5px;
    color: #808080;
}

.Moth-day-Interval {
    width: 100%;
    display: flex;
    align-items: center;
    align-content: center;
    margin: 10px 0;
    justify-content: space-between;
    cursor: pointer;
}

.Moth-day-Interval span {
    width: 54px;
    height: 54px;
    background: #f7f7f7;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 25px;
}
.Moth-day-Interval span > span {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 24px;
}

.Swipper12 {
    width: 1100px;
    min-height: 357px;
    background: #ffffff;
    margin: 80px 0 50px 0;
    padding: 10px;
}


